@model Book

<div class="shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="column-12 text-center">
                <h2 class="text-white py-2">Delete Book</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form method="post">
            <input asp-for="Id" hidden />
            <div class="border p-3 mt-4">
                @*<div asp-validation-summary="ModelOnly"></div>*@
                <div class="form-floating py-3 col-12">
                    <label asp-for="Title" diabled class="ms-0">Book Title</label>
                    <input asp-for="Title" class="form-control border-0 shadow" />
                </div>

                <div class="form-floating py-3 col-12">
                    <label asp-for="Author" class="ms-0">Author</label>
                    <input asp-for="Author" disabled class="form-control border-0 shadow" />
                </div>

                <div class="form-floating py-3 col-12">
                    <label asp-for="Description" class="ms-0">Description</label>
                    <textarea asp-for="Description" disabled class="form-control border-0 shadow"></textarea>
                </div>

                <div class="form-floating py-3 col-12">
                    <label asp-for="ISBN" class="ms-0">ISBN</label>
                    <input asp-for="ISBN" disabled class="form-control border-0 shadow" />
                </div>

                <div class="form-floating py-3 col-12">
                    <label asp-for="ListPrice" class="ms-0">List Price</label>
                    <input asp-for="ListPrice" disabled class="form-control border-0 shadow" />
                </div>

                <div class="form-floating py-3 col-12">
                    <label asp-for="Price" class="ms-0">Price for 1-50</label>
                    <input asp-for="Price" disabled class="form-control border-0 shadow" />
                </div>

                <div class="form-floating py-3 col-12">
                    <label asp-for="Price50" class="ms-0">Price for 50-100</label>
                    <input asp-for="Price50" disabled class="form-control border-0 shadow" />
                </div>

                <div class="form-floating py-3 col-12">
                    <label asp-for="Price100" class="ms-3">Price for 100+</label>
                    <input asp-for="Price100" disabled class="form-control border-0 shadow" />
                </div>

                <div class="row mt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger form-control">Delete</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Book" asp-action="Index" class="btn btn-secondary border form-control">Back To List</a>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>

